.modalpopup {
    display:none;
    position:absolute;
    top:15%;
    left:50%;
    width:fit-content;
    height:fit-content;
    min-width: 5em;
    margin-top:auto;
    color:black;
    border-style:outset;
    border-radius:10px;
    background:#f3f3f3; /* linear-gradient(#fefefe, #eeeeee); */
    z-index: 5;
    opacity:0.0;
    transition: opacity .5s;
    overflow:visible;
}

@keyframes ob {
    from {opacity:0;}
    to {opacity:1;}
}

h5{
    font-size:12pt;
}

.dlg-template-btn {
  box-shadow: 5px 10px 18px #aaaadd;
  height: 2em;
  min-width: 6em;
  margin: 3px 4px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #007BFF;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  float: right;
  user-select: none;
  cursor: pointer;
  outline: rgba(0, 0, 0, 0.1);
}

.dlg-template-btn:disabled {
  background-color: #aaa;
  border-radius: 2px;
  border: solid 1px #aaa;
}

.dlg-template-btn:active {
  padding-top: 2px;
}

.dlg-template-aux-btn {
  box-shadow: 5px 10px 18px #aaaadd;
  height: 2em;
  min-width: 6em;
  margin: 3px 4px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #4CAF50;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  float: right;
  user-select: none;
  outline: rgba(0, 0, 0, 0.1);
}

.dlg-template-aux-btn:active {
  padding-top: 2px;
}

.dlg-template-aux-btn:disabled {
  background-color: #aaa;
  border-radius: 2px;
  border: solid 1px #aaa;
}

.dlg-template-cancel-btn {
  box-shadow: 5px 10px 18px #aaaadd;
  height: 2em;
  min-width: 6em;
  margin: 3px 4px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #888;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  float: right;
  user-select: none;
  outline: rgba(0, 0, 0, 0.1);
}

.dlg-template-cancel-btn:active {
  padding-top: 2px;
}

.dlg-template-header {
  height: fit-content;
  border-bottom: solid 1px #ccc;
  padding: .5em 1em .5em 1em;
  user-select: none;
}

h4 {
  text-align: center;
  font-size: 12pt;
  user-select: none;
  width: 100%;
}

h5 {
  font-size: 12pt;
  display: inline;
  user-select: none;
}

.dlg-template-title {
  font-size: 12pt;
  display: inline;
  user-select: none;
}

.dlg-msg-body {
  height: fit-content;
  padding: 1em 1em 1em 1em;
}

.dlg-template-footer {
  height: fit-content;
  padding: 5px 0px 8px 0px;
  border-top: solid 1px #ccc;
  user-select: none;
}

.dlg-template-close {
  background: none;
  border: none;
  right: .5em;
  top: .25em;
  position: absolute;
}

