.app-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.canvas-div {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fcf7fc;
  background: radial-gradient(circle, rgba(252, 247, 252, 1) 0%, rgba(245, 250, 247, 1) 50%, rgba(230, 50, 170, 0.98) 100%);

  button {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    color: white;
  }

  [hidden] {
    display: none !important;
  }
}

.fillcanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.content {
  position: absolute;
  left: 40px;
  bottom: 40px;
  right: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.border-g {
  border: solid 3px green;
}
.border-b {
  border: solid 3px blue;
}.border-r {
  border: solid 3px red;
}
