<div class="app-window">

  <div #canvasDiv class="canvas-div" (dblclick)="dblclick($event)" (click)="click($event)">
    <canvas #fillcanvas class="fillcanvas" ></canvas>
    <div #contentDiv class="content"><ng-content></ng-content></div>
    <button #prevbtn (click)="prev($event)" [hidden]="!rbSvc.showButtons">&#8656;</button>
    <button #nextbtn (click)="next($event)" [hidden]="!rbSvc.showButtons">&#8658;</button>
    <div #toolbar class="template-area"><ng-container *ngTemplateOutlet="rbSvc.selectedTemplate"></ng-container></div>

  </div>

</div>
