:root{
  --img-width: 100%;
  --img-height: 100%;
  --img-vertical-height: 80%;
  --img-vertical-width: 80%;
  --inner-horizontal-width: 619px;
  --inner-horizontal-height: 244px;
  --inner-vertical-width: 400px;
  --inner-vertical-height: 619px;
  --button-bottom: 10px;
  --prev-button-left: 20px;
  --next-button-right: 20px;
}

html,
body {

  margin: 0;
}

.body-container{
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.prayer-container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 0em;
  background: none;
  border: solid 3px black;
}

.rosary-horizontal {
  position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.rosary-vertical {
    position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
}

.rosary-img-h{
  height: 100%;
  width: 100%;
  border: solid 3px red;
}

.rosary-img-v {
  position: absolute;
  height: var(--img-vertical-height);
  width: var(--img-virtical-width);
  left: 0px;
  top: 0px;
}

.heartland-h {
  position: absolute;
  right: 5%;
  bottom: 30%;
  left: 5%;
  top: 5%;
}

.heartland-v {
  position: absolute;
  width: var(--inner-vertical-width);
  height: var(--inner-vertical-height);
  left: 50px;
  top: 50px;
}

.start-btn {
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 9em;
  height: 2em;
  font-size: 16pt;
}

.start-btn:hover {
  border: solid 4px rgb(139, 97, 235);
  border-radius: 10px;
}

.prev-btn-h {
  position: absolute;
  bottom: var(--button-bottom);
  left: var(--prev-button-left);
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 14pt;
}

.next-btn-h {
  position: absolute;
  bottom: var(--button-bottom);
  right: var(--next-button-right);
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 14pt;
}

.prev-btn-v {
  position: absolute;
  top: 600px;
  left: 0px;
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 11pt;
}

.next-btn-v {
  position: absolute;
  top: 600px;
  left: 340px;
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 11pt;
}
