:root{
  --img-width: 758px;
  --img-height: 499px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  border: solid 1px red;
}

.prayer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 0em;
  background: none;
  margin: auto;
  font-size: 14pt;
}

.rosary-758-499 {
  transform-origin: left top;
  position: relative;
  height: var(--img-height);
  width: var(--img-width);
}

.rosary-img{
  position: absolute;
  height: var(--img-height);
  width: var(--img-width);
  left: 0px;
  top: 0px;
}

.heartland {
  position: absolute;
  width: 650px;
  height: 244px;
  left: 40px;
  top: 50px;
}

.start-btn {
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 9em;
  height: 2em;
  font-size: 14pt;
  margin: 5px auto;
}

.start-btn:hover {
  border: solid 4px rgb(139, 97, 235);
  border-radius: 10px;
}

.hover-btn:hover {
  border: solid 4px rgb(139, 97, 235);
  border-radius: 10px;
}

.prev-btn {
  position: absolute;
  top: 300px;
  left: -20px;
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 14pt;
}

.next-btn {
  position: absolute;
  top: 300px;
  left: 585px;
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 14pt;
}

.home-btn {
  position: absolute;
  top: 307px;
  left: 524px;
  width: fit-content;
  height: fit-content;
  font-size: 14pt;
  border: solid 4px rgba(0,0,0,0);
  border-radius: 10px;
}
