:root{
  --img-width: 758px;
  --img-height: 499px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  border: solid 1px red;
}

.rosary-758-499 {
  transform-origin: left top;
  position: relative;
  height: var(--img-height);
  width: var(--img-width);
}

.rosary-img{
  position: absolute;
  height: var(--img-height);
  width: var(--img-width);
  left: 0px;
  top: 0px;
}

.heartland {
  position: absolute;
  width: 650px;
  height: 244px;
  left: 40px;
  top: 50px;
}

.start-btn {
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 9em;
  height: 2em;
  font-size: 12pt;
  margin: 0px auto;
}

.start-btn:hover {
  border: solid 4px rgb(144, 233, 144);
  border-radius: 10px;
}

.hover-btn:hover {
  border: solid 4px rgb(139, 97, 235);
  border-radius: 10px;
}

.prev-btn {
  position: absolute;
  top: 300px;
  left: -20px;
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 14pt;
}

.next-btn {
  position: absolute;
  top: 300px;
  left: 585px;
  background: rgb(125, 222, 125);
  border: solid 2px rgb(144, 233, 144);
  border-radius: 10px;
  width: 5em;
  height: 2em;
  font-size: 14pt;
}

/* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: pink;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightblue;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: ligntblue;
  }
