<popup-template [templateOptions]="options"></popup-template>
<div class="home-container">

  <h1>{{ instructions.homeTitle }}</h1>
    <div style="overflow: auto;">
      <p [style.fontSize]="textFontSize">{{ instructions.home1 }}</p>
      <p style="padding: 0;margin: 0;" [style.fontSize]="textFontSize">{{ instructions.home2 }}</p>
    </div>

  <button class="start-btn" (click)="router.navigate(['start-prayer'])">{{glossary("Start")}}</button>
</div>

<ng-template #homeOptions>
  <button class="config" (click)="showTemplate($event, menu)"> &#9881;</button>
</ng-template>

<ng-template #menu>
  <div class="menu">
    <label for="language">Select your preferred language</label>
    <select id="language" [value]="instructions.code" (change)="languageSelected($event)">
      <option value="EN">English</option>
      <option value="ES">Spanish</option>
    </select>
     <!-- <button class="none" (click)="options.hide()">Cancel</button> -->
  </div>
  <!-- <div class="menu">
    <button (click)="display('start')">Start</button>
    <button (click)="display('beginning')">Begining</button>
    <button (click)="display('cross')">Cross</button>
    <button (click)="display('mary')">Mary</button>
    <button (click)="display('bead')">Bead</button>
    <button (click)="display('ovalbead')">Oval Bead</button>
    <button (click)="display('connect-to-mary')">Connect to Mary</button>
    <button (click)="display('chain')">Chain</button>
    <button (click)="display('frame')">Frame</button>
    <button (click)="display('cancel')">Cancel</button>
    <button (click)="display('download')">Download</button>
    <upload-button (fileSelected)="onFileSelected($event)"></upload-button>
  </div> -->
</ng-template>
