.home-container
 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 1px;
  font-size: 12px;

  h1 {
    margin: 0;
    font-size: 30pt;
  }
}

