<div class="prayer-container">
  <h3>{{currentPage?.instruction}}</h3>
  <h3 *ngIf="currentMystery != undefined">{{currentMystery.Title}}</h3>
  <h5 *ngIf="currentMystery != undefined">{{currentMystery.Meditation}}</h5>
  <h4 *ngIf="currentPage.file?.Title">{{currentPage?.file.Title}}</h4>
  <p *ngIf="currentPage.file">{{currentPage?.file.Text}}</p>


  <!-- Decade: {{currentPage?.decadeIndex}}
  Mystery: {{currentPage?.mysteryIndex}} -->
</div>
<button class="prev-btn" (click)="previous($event)">Previous</button>

<button class="next-btn" (click)="next($event)">Next</button>
