.prayer-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 100%;

  padding-top: 0em;
  background: none;

  margin-top: auto;
  vertical-align: middle;
  justify-content: space-around;
  overflow:auto;

/*
  @media screen and (min-width: 300px) and (max-width: 500px) and (min-height: 500px) and (max-height: 700px) {
    p {
      font-size: 14pt
    }
  }
  @media screen and (min-width: 300px) and (max-width: 500px) and (min-height: 700px) and (max-height: 900px) {
    p {
      font-size: 17pt
    }
  }
  @media screen and (min-width: 300px) and (max-width: 500px) and (min-height: 900px) and (max-height: 1000px) {
    p {
      font-size: 20pt
    }
  }
  @media screen and (min-width: 500px) and (max-width: 700px) and (min-height: 900px) and (max-height: 1000px) {
    p {
      font-size: 60pt
    }
  } */

/* @media screen and (min-width: 200px) and (max-width: 400px) and (min-height: 500) and (max-height: 700) {
  p {
    font-size: 14pt
  }
} */
  p, h3, h4{
    padding: 0px;
    margin: 0;
  }
}

.slow-fade2 {
  width: 30px;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  /* Transition width over 0.5s with ease-in-out timing */
}

.slow-fade2:hover {
  width: 0px;
}

.slow-fade {
  transition: opacity 0.5s ease-in-out;
  /* animation: fadeOut 2s forwards; */
  /* Adjust duration as needed */
  opacity: 0;
  /* Initial opacity */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
