.prayer-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 100%;
  height: 100%;

  padding-top: 0em;
  background: none;

  margin-top: auto;
  vertical-align: middle;
  justify-content: space-around;
  overflow:auto;

  .paragraph {
    flex-grow: 1;
    margin-top: .50em;
  }
}

.config {
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
}

.slow-fade2 {
  width: 30px;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  /* Transition width over 0.5s with ease-in-out timing */
}

.slow-fade2:hover {
  width: 0px;
}

.slow-fade {
  transition: opacity 0.5s ease-in-out;
  /* animation: fadeOut 2s forwards; */
  /* Adjust duration as needed */
  opacity: 0;
  /* Initial opacity */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
