
<div #prayerContainer class="prayer-container" [style.font-size]="fontSize">
  <!-- <div style="margin: auto;"> -->

    <!-- <span style="font-size: 12px;">Width: {{width}} Height: {{height}} Area: {{area}}</span> -->
    @if (currentPage?.instruction) {
      <h3>{{currentPage?.instruction}}</h3>
    }
    @if (currentMystery?.Title) {
      <h3 class="paragraph">{{currentMystery?.Title}}</h3>
    }
    @if (currentMystery?.Meditation != undefined) {
      <h3 style="margin-top: 1em;">{{glossary('Meditate') + ': ' + currentMystery.Meditation}}</h3>
    }
    @if (currentPage.file?.Title) {
      <h4>{{currentPage?.file.Title}}</h4>
    }
    @if (currentPage.file) {
      <p class="paragraph">{{currentPage.file.Text}}</p>
    }

</div>

<ng-template #prayerOptions>
  <a class="home-btn" [routerLink]="['/']" routerLinkActive="router-link-active" [hidden]="!rbgSvc.showButtons">
      <i class="fa-solid fa-house"></i>
    </a>
</ng-template>
